extends ../layouts/base_admin

block content

    script(type='text/javascript').
        $(function () {
            $('#grafico1').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: 'Reporte de productos y sus precios'
                },
                xAxis: {
                    categories: !{textos_grafico1},
                    title: {
                    text: 'Productos'
                    }
                },
                        
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Precios',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                useHTML: true,
                formatter: function() {
                    return '<b>Precio : </b>$'+this.point.y;
                }},
                plotOptions: {
                
                series: {
                    dataLabels:{
                        //enabled:true,
                    },events: {
                        legendItemClick: function () {
                                return false; 
                        }
                    }
                }
                  },
                legend: {
                    reversed: true
                },
                credits: {
                    enabled: false
                },
                series: [{
                name:'Precios',
                data: !{series_grafico1}
                }]
            });
            $('#grafico2').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: 'Reporte de cantidad de productos por proveedores'
                },
                xAxis: {
                    categories: !{textos_grafico2},
                    title: {
                    text: 'Empresas'
                    }
                },
                        
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Productos',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                useHTML: true,
                formatter: function() {
                    return '<b>Cantidad de productos : </b>'+this.point.y;
                }},
                plotOptions: {
                
                series: {
                    dataLabels:{
                        //enabled:true,
                    },events: {
                        legendItemClick: function () {
                                return false; 
                        }
                    }
                }
                  },
                legend: {
                    reversed: true
                },
                credits: {
                    enabled: false
                },
                series: [{
                name:'Productos',
                data: !{series_grafico2}
                }]
            });
        });

    h1(class='text-center') Estadísticas

    div(class='doble-espacio')

    div(class='card card-primary contenedor')
        div(class='card-header bg-primary') Productos encontrados : #{cantidad_productos}
        div(class='card-body')
            div(class='card-block')
                if productos
                    table(class='table table-striped table-hover')
                        thead  
                            th(scope='col') Nombre
                            th(scope='col') Descripción
                            th(scope='col') Precio
                            th(scope='col') Proveedor
                            th(scope='col') Fecha registro
                        tbody
                            each producto in productos
                                tr
                                    td #{producto.nombre}
                                    td #{producto.descripcion}
                                    td #{producto.precio}
                                    td #{producto.proveedor}
                                    td #{producto.fecha_registro}
                else
                    h1 No hay registros !!

    div(class='doble-espacio')

    div(class='card card-primary contenedor')
        div(class='card-header bg-primary') Gráfico 1
        div(class='card-body')
            div(id='grafico1' style='width: 800px; height: 400px;')

    div(class='doble-espacio')

    div(class='card card-primary contenedor')
        div(class='card-header bg-primary') Gráfico 2
        div(class='card-body')
            div(id='grafico2' style='width: 800px; height: 400px;')